@let delay = 400;
@let position = "above";
@let user = currentUser();

<form [formGroup]="form">
  <label class="open-sans-regular" for="title">Title</label>
  <input id="title" type="text" formControlName="title" />

  <ng-container
    *ngTemplateOutlet="
      controlTemplate;
      context: {
        key: descartesQuestionsIds.Q1,
      }
    "
  >
  </ng-container>

  <ng-container
    *ngTemplateOutlet="
      controlTemplate;
      context: {
        key: descartesQuestionsIds.Q2,
      }
    "
  >
  </ng-container>

  <ng-container
    *ngTemplateOutlet="
      controlTemplate;
      context: {
        key: descartesQuestionsIds.Q3,
      }
    "
  >
  </ng-container>

  <ng-container
    *ngTemplateOutlet="
      controlTemplate;
      context: {
        key: descartesQuestionsIds.Q4,
      }
    "
  >
  </ng-container>

  <label class="open-sans-regular" for="conclusion">Conclusion</label>
  <input type="text" formControlName="conclusion" />
</form>

<div class="controls">
  <button class="controls__cancel" matButton="tonal" (click)="cancelForm()">
    Cancel
  </button>

  <button
    class="controls__clear"
    matButton="outlined"
    [disabled]="form.pristine"
    (click)="clearForm()"
  >
    Clear
  </button>

  <button
    class="controls__save"
    matButton="outlined"
    [disabled]="form.pristine"
    (click)="saveForm()"
  >
    {{ id() ? "Update" : "Save" }}
  </button>
</div>

<ng-template #controlTemplate let-key="key;">
  <ng-container [formGroup]="form">
    @let formArray = getFormArrayControls(key);
    <p class="open-sans-regular">{{ descartesQuestions.get(key) }}</p>

    <ng-container [formArrayName]="key">
      <ul>
        @for (control of formArray; let index = $index; track index) {
          @if (formEditTracker.get(key)?.index === index) {
            <li class="arg-list input-container">
              <input
                appAutoFocus
                type="text"
                autocomplete="off"
                class="roboto-regular"
                [id]="key"
                [formControl]="control"
              />

              <button
                class="btn cancel-arg"
                [matTooltip]="'Cancel'"
                [matTooltipPosition]="position"
                [matTooltipShowDelay]="delay"
                (click)="cancelArgument(index, key)"
              >
                &#x2715;
              </button>
              <button
                class="btn save-arg"
                [matTooltip]="'Save'"
                [matTooltipPosition]="position"
                [matTooltipShowDelay]="delay"
                (click)="saveArgument(key)"
              >
                &#x2713;
              </button>
            </li>
          } @else {
            <li class="roboto-regular arg-list">
              <p>{{ control.value }}</p>
              <button
                class="btn remove-arg"
                [matTooltip]="'Remove'"
                [matTooltipPosition]="position"
                [matTooltipShowDelay]="delay"
                (click)="deleteArgument(index, key)"
              >
                &#x2715;
              </button>

              <button
                class="btn edit-arg"
                [matTooltip]="'Edit'"
                [matTooltipPosition]="position"
                [matTooltipShowDelay]="delay"
                (click)="editArgument(index, key)"
              >
                &#9998;
              </button>
            </li>
          }
        }

        @if (!formEditTracker.get(key)?.isCreating) {
          <li class="roboto-regular add-btn-container">
            <button
              class="btn add-arg"
              [matTooltip]="'Add Argument'"
              [matTooltipPosition]="position"
              [matTooltipShowDelay]="delay"
              (click)="addArgument(key)"
            >
              <span class="plus">&#65291;</span>
            </button>

            @if (user) {
              @let isDisabled = !form.controls.title.value;
              <button
                class="btn add-ai"
                [matTooltip]="isDisabled ? 'Add Title' : 'AI Suggestion'"
                [matTooltipPosition]="position"
                [matTooltipShowDelay]="delay"
                [disabled]="isDisabled"
                (click)="addAISuggestion(key)"
              >
                <span class="ai-icon">&#xFCC;</span>
              </button>
            }
          </li>
        }
      </ul>
    </ng-container>
  </ng-container>
</ng-template>
