:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  main {
    height: 100%;
    padding: var(--basic-indent);
    overflow-y: auto;
    width: 70%;
    margin: 0 auto;
  }
}
