:host {
  display: block;
  width: 70%;
  margin: 0 auto;

  ul {
    li {
      list-style-type: circle;
      padding-bottom: var(--small-indent);
      width: 50%;
      line-height: 1.5;
    }
  }

  .controls {
    display: grid;
    grid-template-columns: 100px auto 100px;
    column-gap: var(--basic-indent);
    margin-top: var(--basic-indent);


    &__delete {
      width: 100px;
    }
  }
}
