<header>
  <div class="right-section">
    <img [src]="'logo/logo.png'" alt="Logo" width="164" height="auto" />

    @for (item of menuItems; track item.name) {
      <a
        class="menu-link"
        [routerLink]="langService.buildRoute(item.route)"
        routerLinkActive="active"
        >{{ item.name }}</a
      >
    }
  </div>
  <div class="left-section">
    @let user = currentUser();

    @if (user) {
      <div class="user-info">
        <mat-icon class="user-icon">{{ userIcon }}</mat-icon>
        <span class="user-email">{{ user.email }}</span>
        <span>{{ user.username }}</span>
      </div>

      <button
        matButton="elevated"
        class="open-sans-regular"
        i18n="@@signOut"
        (click)="signOut()"
      >
        Sign Out
      </button>
    } @else {
      <button
        matButton="elevated"
        class="open-sans-regular"
        i18n="@@signIn"
        [routerLink]="langService.buildRoute('sign-in')"
      >
        Sign In
      </button>
      <button
        matButton="elevated"
        class="open-sans-regular"
        i18n="@@signUp"
        [routerLink]="langService.buildRoute('sign-up')"
      >
        Sign Up
      </button>
    }

    <lib-lang-switch></lib-lang-switch>

    <button
      matButton="elevated"
      class="open-sans-regular"
      i18n="@@themeBtn"
      (click)="changeTheme()"
    >
      🌓 Change theme
    </button>
  </div>
</header>
