<form [formGroup]="form">
  <label class="open-sans-regular" for="title">Title</label>
  <input class="align-input" id="title" type="text" formControlName="title">

  <ng-container
    *ngTemplateOutlet="controlTemplate;
    context: {key: 'q1', question: 'What will happen if it happens?'}"
  >
  </ng-container>

  <ng-container
    *ngTemplateOutlet="controlTemplate;
    context: {key: 'q2', question: 'What will happen if it doesn\'t happen?'}"
  >
  </ng-container>

  <ng-container
    *ngTemplateOutlet="controlTemplate;
    context: {key: 'q3', question: 'What won\'t happen if it happens?'}"
  >
  </ng-container>

  <ng-container
    *ngTemplateOutlet="controlTemplate;
    context: {key: 'q4', question: 'What won\'t happen if it doesn\'t happen?'}"
  >
  </ng-container>

  <label class="open-sans-regular" for="conclusion">Conclusion</label>
  <input class="align-input" type="text" formControlName="conclusion">
</form>

<div class="controls">
  <button
    class="controls__cancel"
    matButton="tonal"
    (click)="cancelForm()"
  >
    Cancel
  </button>

  <button
    class="controls__clear"
    matButton="outlined"
    [disabled]="form.pristine"
    (click)="clearForm()"
  >
    Clear
  </button>

  <button
    class="controls__save"
    matButton="filled"
    [disabled]="form.pristine"
    (click)="saveForm()"
  >
    {{ id() ? 'Update' : 'Save' }}
  </button>
</div>


<ng-template
  #controlTemplate
  let-key=key;
  let-question=question;
>
  <ng-container [formGroup]="form">
    @let formArray = getFormArrayControls(key);
    <label class="open-sans-regular">{{ question }}</label>

    <ng-container [formArrayName]="key">
      <ul>
        @for (control of formArray;
          let index = $index;
          track index;
          let last = $last) {
          @if (formEditTracker.get(key) === index) {
            <input
              class="roboto-regular arg-input"
              [id]="key"
              type="text"
              [formControl]="control"
              autocomplete="off"
            >

            <div class="btn-group">
              <span class="btn open-sans-regular" (click)="cancelArgument(index, key)">
                <span class="action-btn cancel-arg">&#x2715;</span>
                Cancel
              </span>
              <span class="btn open-sans-regular" (click)="saveArgument(key)">
              <span class="action-btn save-arg">&#x2713;</span>
                Save
               </span>
            </div>
          } @else {
            <li class="roboto-regular">
              {{ control.value }}
              <span
                class="btn open-sans-regular"
                matTooltip="Remove"
                [matTooltipPosition]="'above'"
                (click)="deleteArgument(index, key)"
              >
                <span
                  class="action-btn remove-arg"
                >
                  &#x2715;
                </span>
              </span>

              <span
                class="btn open-sans-regular"
                matTooltip="Edit"
                [matTooltipPosition]="'above'"
                (click)="editArgument(index, key)"
              >
                <span
                  class="action-btn edit-arg"
                >
                  &#9998;
                </span>
              </span>
            </li>

          }
        }
      </ul>
    </ng-container>

    @if (formEditTracker.get(key) === null) {
      <span class="btn add-btn open-sans-regular" (click)="addArgument(key)">
        <span class="action-btn add-arg">&#x2715;</span>
        Add Argument
      </span>
    }

  </ng-container>
</ng-template>

