:host {
  display: block;
  width: 70%;
  margin: 0 auto;
  transition: all 2.5s ease;
  padding: var(--basic-indent);

  form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--basic-indent);

    ul {
      margin: 0;
      border-bottom: 1px solid var(--border);
    }

    li {
      list-style-type: circle;
      position: relative;

      &:not(:last-child) {
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          width: 90%;
          height: 1px;
          background-color: var(--border);
        }
      }

      &.add-btn-container {
        padding-top: var(--basic-indent);
        list-style-type: none;
      }

      &.arg-list {
        display: grid;
        grid-template-columns: 90% 1fr 1fr;
        align-items: baseline;
        column-gap: var(--basic-indent);
      }

      &.input-container {
        align-self: center;
        padding: var(--small-indent) 0;
      }
    }

    .add-arg {
      display: inline-block;
      transform: rotate(45deg) !important;
    }
  }

  input {
    border-style: solid;
    outline: none;
    box-shadow: none;
    appearance: none;
    padding: var(--small-indent);
    color: var(--text-secondary);
    border-color: var(--border);
    background-color: var(--surface);
  }

  label {
    font-size: var(--big);
    font-weight: 600;
  }

  .align-input {
    margin-left: 0;
  }

  input[id="title"] {
    height: 40px;
    font-size: 18px;
  }

  .argument-btn {
    width: fit-content;
  }

  .btn {
    cursor: pointer;
  }

  .btn-group,
  .add-btn {
    padding-bottom: var(--basic-indent);
    width: calc(100% + 20px);
  }

  .add-btn {
    width: inherit;
    display: flex;
    justify-content: flex-end;
    margin-right: var(--x-small-indent);
  }

  .action-btn {
    display: inline-block;
    height: 14px;
    width: 14px;
    text-align: center;
    border-radius: 50%;
    padding: var(--extra-small-indent);
    border: 1px solid;

    &.cancel-arg,
    &.remove-arg {
      color: var(--error);
      border-color: var(--error);
    }

    &.save-arg {
      color: var(--green);
      border-color: var(--green);
    }

    &.edit-arg,
    &.add-arg {
      color: var(--primary);
      border-color: var(--primary);
    }
  }

  .btn-group {
    display: flex;
    column-gap: var(--basic-indent);
  }

  .controls {
    display: grid;
    grid-template-columns: 100px auto 100px;
    column-gap: var(--basic-indent);
    margin-top: var(--basic-indent);


    &__clear {
      width: 100px;
      justify-self: right;
    }
  }
}
