header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--basic-indent);
  background-color: var(--surface);

  .right-section {
    display: flex;
    align-items: center;
    column-gap: var(--basic-indent);
  }


  .menu-link {
    font-size: 22px;
    color: var(--text);

    &.active {
      color: var(--highlighted-text);
    }
  }

  .btn-outline {
    background-color: var(--surface);
    padding: var(--small-indent);
    border-radius: 4px;
    border: 1px solid var(--border);
    color: var(--text);
    font-size: var(--semi-small);
  }
}

img {
  height: 56px;
  width: 56px;
}
