@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  font: var(--mat-sys-body-medium);

  .mat-mdc-row,
  .mat-mdc-header-row {
    background-color: var(--surface);
    color: var(--text-secondary);
  }
}
