:host {
  .descartes-overview {
    border-bottom: 1px solid var(--border);

    ul {
      li {
        list-style-type: circle;
        padding-bottom: var(--small-indent);
        line-height: 1.5;
      }
    }

    .conclusion {
      padding-left: var(--large-indent);
      margin-bottom: var(--large-indent);
    }
  }

  .controls {
    display: grid;
    grid-template-columns: 100px auto 100px;
    column-gap: var(--basic-indent);
    margin-top: var(--large-indent);

    &__delete {
      width: 100px;
    }
  }
}
