@use "styles/indentation.scss";
@use "styles/colors.scss";
@use "styles/theme.scss";
@use "styles/fonts.scss";
@use "styles/material.scss";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  line-height: 1;
  color: var(--text);
  background-color: var(--background);
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}
