<section class="descartes-list">
  <div class="descartes-list__header">
    <button
      matButton="elevated"
      class="descartes-list__add-data"
      i18n="@@addBtn"
      (click)="addData()"
    >
      Add data
    </button>
  </div>

  <div class="descartes-list__grid">
    @for (item of dataSource(); track item.id) {
      <app-descartes-solution-card
        [solution]="item"
        (view)="view($event)"
        (edit)="update($event)"
        (remove)="delete($event)"
      />
    } @empty {
      <p class="descartes-list__empty" i18n="@@emptyList">No records yet</p>
    }
  </div>
</section>
